<%- include('../partials/header') %>


<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align">Bienvenue sur Gallax</h1>
        </div>
    </row>
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">La gallerie mettant l'accent sur le partage!</h2>
        </div>
    </div>

    
    <form action="/" method="GET" id="getLink">
        <div class="row">            
            <div class="col s12">
                <div class="row">
                        <h3 class="center-align">Avez-vous un lien?</h3>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s9">
                        <input placeholder="http://domain.org/Photos20192kg1homsjzwncz9z" type="text" name="link" class="input-link" id="link">
                    </div>
                    <div class="col s3">
                        <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <form action="/" method="POST" id="createLink">
    
        <div class="row">
            <div class="col s9">
                <h3 class="center-align">Créer une gallerie!</h3>
            </div>
            <div class="col s3 valign-wrapper">
                <button class="btn-large waves-effect waves-light" type="submit" name="action">Go!
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    
    </form>
</div>

<script type="text/javascript">
    document.querySelector('#getLink').addEventListener('submit', e => {
        e.preventDefault()
        window.location = e.target.link.value
    })
</script>

<%- include('../partials/footer') %>