<%- include('../partials/header'); %>
    Bienvenu sur la gallerie de <%= gallery.name %>

    <form action="/api/images" method="post" enctype="multipart/form-data" id="uploadForm">
        <label for="photos">send pictures</label>
        <input type="file" name="photos" id="photos" multiple>
        <input type="hidden" name="galleryID" id="galleryID" value="<%= gallery.id %>">
        <button type="submit">Submit</button>
    </form>


    <form action="" method="put" id="authForm">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>

    <span class="auth" id="auth"></span>
    
    <% if(typeof err != 'undefined') { %>
        <span> <%= err %> </span>
    <% } %>

    <div class="images" id="images"></div>

    <script type="text/javascript">

            function getImages() {
                document.querySelector('#images').innerHTML = ""

                //check if it has a token
                const token = localStorage.getItem(`token-<%= gallery.link %>`)

                fetch(`/api/galleries/<%= gallery.id %>`, {
                    method: "GET",
                    headers: new Headers({"Authorization": `${token != null ? `Bearer ${token}` : ""}`})
                })
                .then(blob => blob.json())
                .then(data => {
                                        
                    if(data.name == "JsonWebTokenError") {
                        document.querySelector("#auth").innerHTML = "Please provide password"
                        localStorage.removeItem(`token-<%= gallery.link %>`);
                    } else {
                        for(image of data.images){
                            //console.log(image)
        
                            let img = document.createElement('img')
                            img.src = `/images${image.path}`
                            document.querySelector('#images').appendChild(img)
                        }
                    }
                    document.forms[0].reset()
                })
                .catch(err => {
                    console.log(err)
                })
            }


            document.querySelector("#authForm").addEventListener('submit', e => {
                e.preventDefault()

                fetch(`/api/galleries/<%= gallery.id %>/auth`, {
                    method: "PUT",
                    headers: new Headers({"Content-Type": "application/json"}),
                    body: JSON.stringify({password: e.target.password.value})
                })
                .then(blob => blob.json())
                .then(data => {
                    localStorage.setItem(`token-<%= gallery.link %>`, data.token)
                    getImages()
                })

            })


            document.querySelector("#uploadForm").addEventListener('submit', e => {
                e.preventDefault()

                const token = localStorage.getItem(`token-<%= gallery.link %>`)                

                const {files} = e.target.photos
                for(let i=0; i<files.length; i++){
                    let formData = new FormData()
                    formData.append('photos',files[i])
                    formData.append('galleryID', e.target.galleryID.value)


                    fetch('/api/images', {
                        method: 'POST',
                        headers: new Headers({"Authorization": `${token != null ? `Bearer ${token}` : ""}`}),
                        body: formData
                    }).then().catch(err => console.error(err))
                }
            })

            getImages()
    
    </script>
<%- include('../partials/footer'); %>